**/CMakeFiles/
CMakeCache.txt
cmake_install.cmake
cmake_build.txt
cmake.txt
Makefile

*.a
*.so
*.pb.cc
*.pb.h
**/_deps
**/build/gens
**/logs

apps/manager/build/MSAPIManager
tests/applicationHandlers/build/TestApplicationHandlers
tests/applicationHandlers/build/TestApplicationHandlers
tests/units/build/TestUnits
tests/objectProtocol/build/TestObjectProtocol
tests/http/build/TestHttp
