**/CMakeFiles/
CMakeCache.txt
cmake_install.cmake
cmake_build.txt
cmake.txt
Makefile

*.a
*.so
*.pb.cc
*.pb.h
**/_deps
**/build/gens
**/logs

apps/manager/build/MSAPIManager
tests/integration/applicationHandlers/build/TestApplicationHandlers
tests/integration/objectProtocol/build/TestObjectProtocol
tests/integration/http/build/TestHttp
tests/integration/server/build/TestServer
tests/integration/webSocketProtocol/build/TestWebSocketProtocol
tests/unit/application/build/UnitTestApplication
tests/unit/dataHeader/build/UnitTestDataHeader
tests/unit/helper/build/UnitTestHelper
tests/unit/html/build/UnitTestHTML
tests/unit/json/build/UnitTestJson
tests/unit/objectData/build/UnitTestObjectData
tests/unit/standardData/build/UnitTestStandardData
tests/unit/table/build/UnitTestTable
tests/unit/timer/build/UnitTestTimer
tests/unit/io/build/UnitTestIo
tests/unit/sha256/build/UnitTestSha256
tests/unit/authorization/build/UnitTestAuthorization
tests/unit/sha1/build/UnitTestSha1
