**/CMakeFiles/
CMakeCache.txt
cmake_install.cmake
cmake_build.txt
cmake.txt
Makefile

*.a
*.so
*.pb.cc
*.pb.h
**/_deps
**/build/gens
**/logs

apps/manager/build/MSAPIManager
tests/integration/applicationHandlers/build/TestApplicationHandlers
tests/integration/objectProtocol/build/TestObjectProtocol
tests/integration/http/build/TestHttp
tests/integration/server/build/TestServer
tests/units/application/build/UnitTestApplication
tests/units/dataHeader/build/UnitTestDataHeader
tests/units/helper/build/UnitTestHelper
tests/units/html/build/UnitTestHTML
tests/units/json/build/UnitTestJson
tests/units/objectData/build/UnitTestObjectData
tests/units/standardData/build/UnitTestStandardData
tests/units/table/build/UnitTestTable
tests/units/timer/build/UnitTestTimer

node_modules/
package.json
package-lock.json
